Repository knight-systems/estatefox: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier, typescript

mypy:
  name: mypy type checker (backend)
  entry: bash -c 'cd backend && uv run mypy src/'
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "$@"' --
  language: system

prettier:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write "$@"' --
  language: system

typescript:
  name: typescript type check (frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: Add modern shell landing page for estatefox.com
  index.html
Due: none

feat: Set up multi-environment GitHub Actions deployment workflow
  .github/workflows/deploy.yml
  docs/DEPLOYMENT.md
Due: none

feat: Add PR preview deployment workflow
  .github/workflows/pr-preview.yml
Due: none

docs: Add comprehensive GoDaddy domain configuration guide
  docs/DEPLOYMENT.md
Due: none

feat: Add EstateFox theme configuration with brand colors
  frontend/constants/theme.ts
Due: eslint, prettier, typescript

feat: Create shell landing page for estatefox.com
  frontend/app/index.tsx
  frontend/tests/app/index.test.tsx
Due: eslint, prettier, typescript

feat: Configure GitHub Pages deployment for web frontend
  .github/workflows/deploy-web.yml
Due: none

docs: Create comprehensive domain setup guide
  docs/DOMAIN-SETUP.md
Due: none

feat: Update app configuration for web deployment
  frontend/app.json
  frontend/public/CNAME
Due: prettier

fix: Address PR feedback - fix build and deployment failures
  backend/Dockerfile
  frontend/app.json
Due: prettier

Fix #16: Build shell site (#17)
  .github/workflows/deploy-web.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-preview.yml
  backend/Dockerfile
  docs/DEPLOYMENT.md
  docs/DOMAIN-SETUP.md
  docs/OLD_SITE_ANALYSIS.md
  docs/PERFORMANCE.md
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/assets/favicon.ico
  frontend/assets/fox-icon.png
  frontend/assets/logo-full.png
  frontend/assets/logo-horizontal.png
  frontend/constants/theme.ts
  frontend/docs/BRANDING.md
  frontend/public/CNAME
  frontend/tests/app/index.test.tsx
  index.html
  specs/issue-16-build-shell-site.md
Due: eslint, prettier, typescript

fix(deploy): Use AWS OIDC authentication instead of access keys
  .github/workflows/deploy.yml
Due: none

fix(deploy): Use AWS OIDC authentication instead of access keys (#18)
  .github/workflows/deploy.yml
Due: none

chore: trigger deploy workflow
  README.md
Due: none

chore: rename deploy workflow
  .github/workflows/deploy-aws.yml
Due: none

fix(deploy): Remove invalid secrets reference in environment URL
  .github/workflows/deploy-aws.yml
Due: none

docs: Update DEPLOYMENT.md with actual infrastructure details
  docs/DEPLOYMENT.md
Due: none

fix(preview): Use shared dev API for PR previews
  .github/workflows/pr-preview.yml
  frontend/services/api.ts
Due: eslint, prettier, typescript

test: Trigger preview deployment workflow
  frontend/services/api.ts
Due: eslint, prettier, typescript

test: Retrigger preview workflow
  frontend/services/api.ts
Due: eslint, prettier, typescript

fix(ci): Simplify PR preview workflow
  .github/workflows/pr-preview.yml
Due: none

test: Preview deployment workflow (#19)
  .github/workflows/pr-preview.yml
  frontend/services/api.ts
Due: eslint, prettier, typescript

feat(mobile): Configure EAS for mobile preview deployments
  .github/workflows/pr-preview.yml
  frontend/app.json
  frontend/eas.json
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(frontend): Update dependencies for SDK 54 compatibility
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(frontend): Pin react-test-renderer to match React 19.1.0
  frontend/package-lock.json
  frontend/package.json
Due: prettier

test: Add fox emoji to home screen title (testing EAS Update)
  frontend/app/(tabs)/home.tsx
Due: eslint, prettier, typescript

fix(eas): Add channel to preview build profile for EAS Update
  frontend/eas.json
Due: prettier

feat: implement dev/prod deployment strategy
  .github/release.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/deploy-web.yml
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/release.sh
Due: none

feat: implement dev/prod deployment strategy (#21)
  .github/release.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/deploy-web.yml
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/release.sh
Due: none

docs: Update deployment guide for dev/prod strategy
  docs/DEPLOYMENT.md
Due: none

Path conditions:
  mypy: any of: ^backend/ and \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
