Repository knight-systems/estatefox: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier, typescript

mypy:
  name: mypy type checker (backend)
  entry: bash -c 'cd backend && uv run mypy src/'
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "$@"' --
  language: system

prettier:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write "$@"' --
  language: system

typescript:
  name: typescript type check (frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(backend): Fix mypy duplicate module error
  backend/CLAUDE.md
  backend/pyproject.toml
Due: none

docs: add OpenSpec for issue #6
  specs/issue-6-fix-tests.md
Due: none

feat: Add pytest-cov to dev dependencies
  backend/pyproject.toml
Due: none

fix: Correct import path in conftest.py
  backend/tests/conftest.py
Due: mypy

fix: Correct import path in test_items.py
  backend/tests/test_items.py
Due: mypy

fix: Shorten __init__.py docstring to fix ruff E501 error
  backend/src/estatefox_api/__init__.py
Due: mypy

fix: Fix linting errors in main.py
  backend/src/estatefox_api/main.py
Due: mypy

fix: Replace deprecated timezone.utc with datetime.UTC
  backend/src/estatefox_api/routes/items.py
Due: mypy

feat: Implement planned changes
  backend/coverage.xml
Due: none

fix: resolve type checking errors in items.py
  backend/src/estatefox_api/routes/items.py
  notes/issue-6-code-review.md
  notes/issue-6-notes.md
Due: mypy

fix: resolve type checking errors in items routes
  backend/src/estatefox_api/routes/items.py
  backend/src/estatefox_api/schemas/items.py
Due: mypy

Fix #6: Fix tests (#9)
  backend/CLAUDE.md
  backend/coverage.xml
  backend/pyproject.toml
  backend/src/estatefox_api/__init__.py
  backend/src/estatefox_api/main.py
  backend/src/estatefox_api/routes/items.py
  backend/src/estatefox_api/schemas/items.py
  backend/tests/conftest.py
  backend/tests/test_items.py
  notes/issue-6-code-review.md
  notes/issue-6-notes.md
  specs/issue-6-fix-tests.md
Due: mypy

feat: remove notes directory
  notes/issue-6-code-review.md
  notes/issue-6-notes.md
Due: none

docs: add OpenSpec for issue #10
  specs/issue-10-fix-frontend-tests.md
Due: none

fix: Add package-lock.json for CI npm caching
  frontend/package-lock.json
Due: prettier

fix: Fix frontend tests and test infrastructure
  frontend/.npmrc
  frontend/jest.config.js
  frontend/jest.presetup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/api.ts
  frontend/tests/utils/test-utils.tsx
Due: eslint, prettier, typescript

fix: Replace cookiecutter template variable with actual API URL in tests
  frontend/tests/hooks/useItems.test.tsx
Due: eslint, prettier, typescript

fix: resolve mypy type checking errors
  backend/pyproject.toml
  backend/src/estatefox_api/__init__.py
  backend/src/estatefox_api/main.py
  backend/src/estatefox_api/py.typed
  backend/src/estatefox_api/routes/items.py
  backend/src/estatefox_api/schemas/items.py
  notes/issue-10-code-review.md
  notes/issue-10-notes.md
Due: mypy

fix: add mypy_path to resolve duplicate module detection
  backend/pyproject.toml
Due: none

docs: add OpenSpec for issue #12
  specs/issue-12-fix-frontend-tests.md
Due: none

feat: Add package-lock.json for npm dependency caching
  frontend/package-lock.json
Due: prettier

fix: Replace cookiecutter template placeholder in useItems test
  frontend/tests/hooks/useItems.test.tsx
Due: eslint, prettier, typescript

feat: Add Jest type definitions and verify CI fixes
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix: Resolve React dependency conflicts for frontend tests
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

fix: Resolve MSW v2 import and test configuration issues
  frontend/jest.config.js
  frontend/tests/utils/test-utils.tsx
Due: eslint, prettier, typescript

fix: Address PR feedback - resolve test failures
  frontend/jest.setup.ts
  frontend/services/api.ts
Due: eslint, prettier, typescript

Fix #12: Fix frontend tests (#13)
  frontend/jest.config.js
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/services/api.ts
  frontend/tests/hooks/useItems.test.tsx
  frontend/tests/utils/test-utils.tsx
  specs/issue-12-fix-frontend-tests.md
Due: eslint, prettier, typescript

docs: add OpenSpec for issue #14
  specs/issue-14-bring-frontend-test-coverage-to-70.md
Due: none

feat: Add comprehensive tests for Card component
  frontend/tests/components/Card.test.tsx
Due: eslint, prettier, typescript

feat: Add comprehensive tests for useApi hook
  frontend/tests/hooks/useApi.test.tsx
Due: eslint, prettier, typescript

feat: Add comprehensive login screen tests
  frontend/tests/app/login.test.tsx
Due: eslint, prettier, typescript

feat: Add comprehensive tests for Register screen
  frontend/tests/app/register.test.tsx
Due: eslint, prettier, typescript

test: Add comprehensive test coverage for Home screen
  frontend/tests/app/home.test.tsx
Due: eslint, prettier, typescript

feat: Add comprehensive tests for Settings screen
  frontend/tests/app/settings.test.tsx
Due: eslint, prettier, typescript

feat: Add comprehensive API service tests
  frontend/tests/services/api.test.ts
Due: eslint, prettier, typescript

test: Add useUpdateItem tests to improve useItems coverage
  frontend/tests/hooks/useItems.test.tsx
  frontend/tests/mocks/handlers.ts
Due: eslint, prettier, typescript

fix: Address PR feedback - resolve TypeScript compilation errors
  frontend/tests/components/Card.test.tsx
  frontend/tests/services/api.test.ts
Due: eslint, prettier, typescript

Fix #14: Bring frontend test coverage to 70% (#15)
  frontend/tests/app/home.test.tsx
  frontend/tests/app/login.test.tsx
  frontend/tests/app/register.test.tsx
  frontend/tests/app/settings.test.tsx
  frontend/tests/components/Card.test.tsx
  frontend/tests/hooks/useApi.test.tsx
  frontend/tests/hooks/useItems.test.tsx
  frontend/tests/mocks/handlers.ts
  frontend/tests/services/api.test.ts
  specs/issue-14-bring-frontend-test-coverage-to-70.md
Due: eslint, prettier, typescript

docs: add OpenSpec for issue #16
  specs/issue-16-build-shell-site.md
Due: none

feat: Extract assets and add comprehensive documentation for Issue #16
  docs/DEPLOYMENT.md
  docs/OLD_SITE_ANALYSIS.md
  docs/PERFORMANCE.md
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/assets/favicon.ico
  frontend/assets/fox-icon.png
  frontend/assets/logo-full.png
  frontend/assets/logo-horizontal.png
  frontend/docs/BRANDING.md
Due: eslint, prettier, typescript

Path conditions:
  mypy: any of: ^backend/ and \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
